h1 {
    color: red;
}

body{
    display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}

.conteiner {
    width: 450px;
    height: 200;
    background-color: rgba(0, 157, 255, 0.929);
    text-align: center;
    border-radius: 6px;
}
.buttons_conteiner {
    width: 100%;
    margin-top: 20px;
}
.button {
    margin-right: 20%;
    border: none;
    border-radius: 3%;
    padding: 3px;
    cursor: pointer;
}
